<!DOCTYPE html>
<npdc:edit-button class="np-primary-control"></npdc:edit-button>
<npdc:loader ng-if="!document"></npdc:loader>
<leaflet ng-if="document && mapOptions.coverage" options="mapOptions" class="coverage-map"></leaflet>
<div class="np-padding">
  <div ng-if="document" class="np-doc">

    <h3>{{ 'Geological samples archive' | t }}</h3>

 <h1>
  <span class="md-display-2">{{ document.title }} </span><span style={font-size:15%}>
  [{{document.original_sample_name}}]</span></h1>

  <section>
    {{document.sample_description}}
    {{document.lithology}}
     {{document.thin_section}}

      <div ng-if="document.analysis" ng-repeat="item in document.analysis">
            </p> {{ item.items }}</p>
        </div>
  </section>


      <section>
      <p ><md-icon>place</md-icon>
        {{document.placename}}</p>

      </section>

      <section ng-if="document.summary">
          <md-divider></md-divider>
        <h3>{{ 'Summary' | t }}</h3>

        <p marked="document.summary"></p>
      </section>


<section ng-if="document.people && document.people.length > 0">
  <h3>{{ 'People' | t }}</h3>
  <md-divider></md-divider>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="person in document.people">
      <md-icon class="md-avatar-icon">person</md-icon>
        <div class="md-list-item-text">
          <h3> {{ person.first_name }} {{ person.last_name }} </h3>
          <p> {{ person.organisation }}&nbsp;{{ person.country }} </p>
          <p ng-if="person.roles"><span ng-repeat="r in person.roles">{{ r | t }}<span ng-if="!$last">, </span></span></p>
          <div ng-repeat="dates in person.station_dates">
           <p ng-if="dates.accomodation">{{ (dates.start_date).substr(0,10) }} - {{ (dates.end_date).substr(0,10)}} (with accomodation)</p>
           <p ng-if="!dates.accomodation">{{ (dates.start_date).substr(0,10) }} - {{ (dates.end_date).substr(0,10)}} (without accomodation)</p>
         </div>
        </div>
      </md-list-item>
    </md-list>
</section>

 <npdc:organisations></npdc:organisations>



 <section>
  <div ng-if="links.length > 0">
    <h3>{{ 'Links' | t }}</h3>
    <md-divider></md-divider>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="link in links">
        <div class="md-list-item-text">
          <a ng-href="{{link.href}}">{{ link.title || link.href }}</a>
          <p>{{ link.rel }}</p>
        </div>
      </md-list-item>
    </md-list>
  </div>
  </section>



      <section ng-if="alternate">
        <md-divider></md-divider>
        <h3>{{ 'Machine-readable metadata' | t }}</h3>
        <!-- @todo CC0 for metadata? <p></p> -->
        <p>
          <div ng-repeat="link in alternate">
            <a ng-href="{{link.href}}" title="{{link.type}}">{{ link.title || link.href }}</a>
            </div>
        </p>
      </section>

<!-- created updated -->
      <section>
        <npdc:document-meta></npdc:document-meta>
      </section>

    </div>
</div>

