<!DOCTYPE html>
<npdc:edit-button class="np-primary-control"></npdc:edit-button>
<npdc:loader ng-if="!document"></npdc:loader>
<leaflet ng-if="document && mapOptions.coverage" options="mapOptions" class="coverage-map"></leaflet>
<div class="np-padding">
  <div ng-if="document" class="np-doc">


 <h1>
  <span class="md-display-2">{{ document.lithology }} </span><span style={font-size:15%}>
  [{{document.title}}/{{document.original_sample_name}}]</span></h1>

  <section>
     <p ng-if="document['@placename'] || document.latitude" ><md-icon>place</md-icon>
        {{document['@placename']}} [{{document.latitude}}, {{document.longitude}}]</p>

    <p ng-if="document.thin_section">
          Sample description: {{document.sample_description}}</p>
    <p ng-if="document.collected_year">
          Collected year: {{document.collected_year}} [{{document.expedition}}]</p>
    <p ng-if="document.thin_section">Thin section number: {{document.thin_section}}</p>
      <p ng-if="document.analysis">Analysis:
      <span ng-repeat="item in document.analysis" class="nowrap">
            {{ item }} &nbsp;&nbsp;
     </span> </p>
     <p ng-if="document.sample_comment">
          Comment: {{document.sample_comment}}</p>
  </section>

<section ng-if="document.last_name && document.last_name.length > 0">
  <h3>{{ 'Person' | t }}</h3>
 <md-divider></md-divider>
  <md-list>
      <p> <md-icon class="md-avatar-icon">person</md-icon>
          {{ document.first_name }} {{ document.last_name }}, {{ document.organisation }} </p>
    </md-list>
</section>




 <section>
  <div ng-if="document.links.length > 0">
    <h3>{{ 'Links' | t }}</h3>
    <md-divider></md-divider>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="link in document.links">
        <div class="md-list-item-text">
          <a ng-href="{{link.href}}">{{ link.title || link.href }}</a>
          <p>{{ link.rel }}</p>
        </div>
      </md-list-item>
    </md-list>
  </div>
  </section>



      <section ng-if="alternate">
        <md-divider></md-divider>
        <h3>{{ 'Machine-readable metadata' | t }}</h3>
        <!-- @todo CC0 for metadata? <p></p> -->
        <p>
          <div ng-repeat="link in alternate">
            <a ng-href="{{link.href}}" title="{{link.type}}">{{ link.title || link.href }}</a>
            </div>
        </p>
      </section>

<!-- created updated -->
      <section>
        <npdc:document-meta></npdc:document-meta>
      </section>

    </div>
</div>

